.wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.title {
	margin-top: 20px;
	margin-left: 20px;
}

.title > input {
	height: 20px;
	width: 50%;
	border: 1px solid;
	border-radius: 5px;
	border-color: rgb(216, 216, 216);
}

.title > input:focus {
	border: 1.5px solid;
	border-color: rgb(36, 124, 255);	
}

.content {
	margin-left: 20px;
	border: 1px solid;
	border-color: rgb(216, 216, 216);
	width: 933px;
	height: 387px;
	border-radius: 5px;
}

.content:focus-within {
	border: 1.5px solid;
	border-color: rgb(36, 124, 255);	
}

.mode {
	margin-left: 10px;
	font-size: 12px;
	color: rgb(110, 110, 110);
	padding: 0px;
	cursor: pointer;
	line-height: 15px;
	border-radius: 5px;
}

.contentDispcription {
	margin-left: 20px;;
}

.options {
	display: flex;
	background-color: rgb(249, 249, 255);
	border-radius: 5px;
	border-bottom: 1px solid;
	border-color: rgb(216, 216, 216);
}

.contentMd {
	font-size: 15px;	
	resize: none;
	width: 98%;
	margin-top: 5px;
	margin-left: 10px;
	height: 256px;
	border: none;
	outline: none;
}

.save {
	display: flex;
}

.saveButton {
	margin-top: 20px;
	margin-left: 840px;
	height: 38px;
  width: 120px;
  border-radius: 5px;
  background-color: rgb(32, 159, 0);
  color: white;
  border: solid 0px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}