.wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.title {
	margin-top: 20px;
	margin-left: 20px;
}

.title > input {
	height: 20px;
	width: 50%;
	border: 1px solid;
	border-radius: 5px;
	border-color: rgb(216, 216, 216);
}

.title > input:focus {
	border: 1.5px solid;
	border-color: rgb(36, 124, 255);	
}

.content {
	margin-left: 20px;
	border: 1px solid;
	border-color: rgb(216, 216, 216);
	width: 933px;
	height: 390px;
	border-radius: 5px;
}

.content:focus-within {
	border: 1.5px solid;
	border-color: rgb(36, 124, 255);	
}

.content:has(.write) {
	border: 1.5px solid;
	border-color: rgb(36, 124, 255);	
}

.mode {
	margin-left: 10px;
	font-size: 12px;
	color: rgb(207, 207, 207);
	padding: 0px;
	cursor: pointer;
	line-height: 15px;
	border-radius: 5px;
}

.focus {
	color: black;
}

.contentDispcription {
	margin-left: 20px;;
}

.options {
	display: flex;
	background-color: rgb(249, 249, 255);
	border-radius: 5px;
	border-bottom: 1px solid;
	border-color: rgb(216, 216, 216);
}

.contentMd {
	font-size: 15px;	
	resize: none;
	width: 98%;
	margin-top: 5px;
	margin-left: 10px;
	height: 80%;
	border: none;
	outline: none;
}

.contentHtml {
	width: 98%;
	margin-top: 5px;
	margin-left: 10px;
	height: 80%;
	border: none;
	outline: none;
	overflow: auto;
}

.save {
	display: flex;
}

.saveButton {
	margin-top: 20px;
	margin-left: 840px;
	height: 38px;
  width: 120px;
  border-radius: 5px;
  background-color: rgb(32, 159, 0);
  color: white;
  border: solid 0px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}

.container {
	display: flex;
	background-color: rgb(234, 234, 234);
	min-height: 60vh;
}

/* お気に入りの数や保存数など */
.lefter {
	flex: 1;
	
}

/* 記事の本体 */
.center {
	flex: 3;
	min-height: 100vh;
	background-color: white;
	display: flex;
	justify-content: center;
	margin:20px;
	border-radius: 2px;
}

.article {
	margin-top: 8%;
	width: 90%;
	flex-direction: column;
}

.articleInfo {
	min-height: 20%;
	width: 90%;
	display: flex;
	flex-direction: column;
}

.userInfo {
	display: flex;
}

.avatar {
	height: 35px;
	width: 35px;
}

.usernameField {
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.username {
	font-weight: bold;
	margin-left:  10px;
	cursor: pointer;
}

.username:hover {
	border-bottom: solid 2px;
}

.readingTitle {
	margin: 2px;
	font-size: 30px;
	font-weight: bold;
}

.tags {
	margin-top: 5px;
	display: flex;
	flex-wrap: wrap;
}

.date {
	font-size: 13px;
	color: grey
}

.articleContent {
	background-color: white;
}

/* 広告など */
.righter {
	flex: 1;
}