.home {
  display: flex;
  height: auto;
}

.ranking {
  flex: 1;
  border-right: solid;
  border-color: rgb(216, 219, 223);
  display:flex;
  flex-direction: column;
}

.articles {
  flex: 4;
  border-right: solid;
  border-color: rgb(216, 219, 223);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(252, 252, 255);
}

.pop {
  flex: 1;
}
