.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  border-bottom: solid;
  border-bottom-color: darkgrey;
}

.headerUpper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerBottom {
  margin-top: 0;
  display: flex;
  font-size: 10px;
  height: 30px;
  line-height: 5px;
}

.headerBottom > div:hover {
  background-color: rgb(241, 241, 241);
}

.home {
  width: 80px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.tabFooter {
  background-color: blue;
  flex: 2;
}

.event {
  width: 80px;
  display: flex;
  flex-direction: column;
}

.tabTextArea {
  flex: 15; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.contact {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerRight {
  display: flex;
  align-items: center;
}

.content {
  flex: 12;
  overflow-y: auto;
}

.appTitle {
  font-size: 28px;
  margin-left: 24px;
  font-family: "Arial Black";
  line-height: 0.3;
  color: rgb(71, 126, 255);
}

.search {
  margin-right: 20px;
  border-radius: 10px;
  width: 200px;
}

.footer {
  background-color: aqua;
  margin-top: auto;
}