.main {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  border-bottom: solid;
  border-bottom-color: darkgrey;
}

.headerUpper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerBottom {
  margin-top: 0;
  display: flex;
  font-size: 10px;
  height: 30px;
  line-height: 5px;
}

.headerBottom > div:hover {
  background-color: rgb(241, 241, 241);
}

.home {
  width: 80px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.tabFooter {
  background-color: blue;
  flex: 2;
}

.event {
  width: 80px;
  display: flex;
  flex-direction: column;
}

.tabTextArea {
  flex: 15; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.contact {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerRight {
  display: flex;
  align-items: center;
}

.content {
  flex: 12;
  min-height: 60vh;
}

.appTitle {
  font-size: 28px;
  margin-left: 24px;
  font-family: "Arial Black";
  line-height: 0.3;
  color: rgb(71, 126, 255);
}

.search {
  margin-right: 20px;
  border-radius: 10px;
  width: 200px;
}

.bell {
  margin-right: 25px;
  height: 22px;
  width: 22px;
  cursor: pointer;
}

.createButton {
  margin-right: 20px;
  height: 32px;
  width: 100px;
  border-radius: 5px;
  background-color: rgb(36, 149, 255);
  color: white;
  border: solid 0px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}

.createButton:hover {
  background-color: rgb(36, 149, 255);
  box-shadow: 1px 1px 1px rgb(0, 153, 255);
}

.footer {
  background-color: rgb(79, 106, 171);
  border-top: solid;
  border-color: rgb(216, 219, 223);
  margin-top: 100px;
}

.footer a {
  color: white;
  margin-left: 30px;
}