.wrapper {
	height: 83vh;
	display: flex;
}

.lefter {
	width: 450px;
	transform: scale(0.85);
	flex: 0 0 450px;
}

.righter {
	flex: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
	padding-top: 40px;
}

