
.wrapper {
	min-height: 80vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.outline {
	height: 70vh;
	width: 70%;
	border-radius: 30px;
	border: solid;	
}

.content {
	display: flex;
	justify-content: space-between;
}

.right {
	margin-right: 40px;
	margin-top: 20px;
	height: 65vh;
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.left {
	margin-left: 20px;
	margin-top: 20px;
	width: 70%;
}

.avatar {
	height: 140px;
  width: 140px;
	border: "1px solid blue";
	border-radius: 50%;
}

.upload {
	height: 30px;
	width: 70%;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}

.imageSelector {
	margin-top: 30px;
}

.save {
	margin-top: 100px;
	height: 50px;
	width: 70%;
	border-radius: 10px;
	background-color: rgb(0, 119, 28);
	color: white;
	font-size: 15px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	cursor: pointer;
}

.nameField {
	width: 70%;
	font-size: large;
}

.introArea {
	margin-left: 20px;
	margin-top: 8px;
	font-size: large;
	width: 90%;
	height: 200px;
	resize: none;
	border-radius: 10px;
}