.card {
	display: flex;
	height: 50px;
	margin-bottom: 10px;
}

.left {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
}

.right {
	flex: 6;
	display: flex;
	align-items: center;
}

.avatarContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.textContainer {
	margin-left: 4px;
	font-size: 10px;
}

.handleName {
	font-size: 15px;
	margin: 0;
	cursor: pointer;
}

.handleName:hover {
	border-bottom: 1px solid;
}

.postsCount {
	font-size: 10px;
	margin: 0;

}

.avatar {
	height: 35px;
	width: 35px;
	border-radius: 50%;
}