# =========================================
# Node.js（frontend & backend 共通）
# =========================================
node_modules/
dist/
build/
dist-ssr/
*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local environment variables
.env

# =========================================
# MinIO 関連（データは Git 管理しない）
# =========================================
# MinIO data (docker volume mount)
minio-data/

# MinIO binaries (もし自前でビルドしている場合)
minio/minio
minio/minio.RELEASE*
minio/*.gz
minio/inspect*
minio/xl-meta*

data

# =========================================
# Docker 関連
# =========================================
*.log
docker-compose.override.yml

# =========================================
# OS / Editor / IDE
# =========================================
# macOS / Windows
.DS_Store
Thumbs.db

# VSCode
.vscode/
!.vscode/extensions.json  # 推奨拡張機能だけ許可

# JetBrains / WebStorm
.idea/

# Swap / Temp files
*.swp
*.sw?
*~
*.suo
*.ntvs*
*.njsproj
*.sln
_metadata.json
frontend/.vite/deps/package.json
